:root {
  --background: white;
}

html{
  height: 100%;
}

body{
  margin: 0;
  background: lightgreen;
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

/*navigation style begins here*/

header{
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

h1.logo {
  text-align: center  
}

.bussinessName {
  font-family: 'Segoe UI', Roboto;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}


nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  font-family: 'Segoe UI', Roboto;
  font-weight: bold;
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  font-family: 'Segoe UI', Roboto;
  font-weight: bold;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}



.img-container img {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}

main {
  background-color: lightgrey;
  position: relative;
}

/* START OF FOOTER */

footer{
  background-color: darkgray;
}

.footercontainer{
  color: black;
  text-align: center;
 
}

.hourcontainer {
  text-align: center;
}

.footer-cafe-name {
  text-align: center;
  color: black;
}

.social-media-btn{
  display: flex;
  justify-content: center;
}

/* END OF FOOTER  */

/* START OF RESPONSIVE STUFF */

@media screen and (min-width:800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    font-family: 'Segoe UI', Roboto;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;    
  }

  nav li {
    font-family: 'Segoe UI', Roboto;
    font-weight: bold;
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  .img-container img {
    width: 100%;
    height: 100%;
  }
}


/* START OF MENU CSS  */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  padding-left:30%;
  padding-right:30%;
}
        
.item {
  background-color: white;
  text-align: left;
  padding-left:10px;
  padding: 16px 0;
  font-size: 20px;
  font-family:montserrat;
  font-weight:500;
  border-style:solid;
  border-style:none;
  
}

p {
  color: grey;
}

i {
  font-family:aerial;
}
 
.food-section{
  font-family:montserrat;
  display:grid;
  grid-template-columns: 1fr ;
  background-color:white;
  background-color: white;
  padding: 10px;
  padding-left:30%;
  padding-right:30%;
}

hr.menu {
  background-color:black;
  color:black;
  margin:0;
  width:90%;
  opacity:20%;
}

hr.double-horizontal {
   border: 1px solid black;
 
}

        
@media (max-width: 800px) {
    .container {  grid-template-columns: auto;}
}   

/* END OF MENU CSS STUFF */
@media screen and (min-width:800px) {
  body{
    margin: 0;
    background: lightgreen;
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }
}










